.viewAllBtn{
    background-color: #8019c8;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 8px 35px;
    font-family: "Roboto", sans-serif;
    border: none;
}

.leftArrow, .rightArrow{
    width: 30px;
    margin: 0 10px;
}

.paginationWrapper{
    margin: 10px 0;
}

.products{
    font-family: "Roboto", sans-serif;
}

.addToCart{
    background-color: #19c880;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 8px 35px;
    font-family: "Roboto", sans-serif;
    border: none;
}

.productItem{
    width: 20%;
    display: inline-block;
    margin: 10px;
    height: 100%;
    vertical-align: text-top;
    background-color:#fff;
}

@media only screen and (max-width: 1200px){
    .productItem{
        width: 25%;
    }
}

@media only screen and (max-width: 900px){
    .productItem{
        width: 33%;
    }
}

@media only screen and (max-width: 700px){
    .productItem{
        width: 50%;
    }
}

@media only screen and (max-width: 500px){
    .productItem{
        width: 100%;
    }
}